@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<div class="container">
    <div class="col-lg-3 thumbnail display">
        <img src="~/Images/IMG-20220405-WA0012-removebg-preview.png" alt="Waterfall" />


        <div class="caption">
            <p>ProductName </p>

        </div>

        <div class="caption">
            <p>ProductDescription </p>
        </div>

        <div class="caption">
            <p>ProductPrice</p>
        </div>
    </div>
</div>

